[Unit]
Description=Overcast Sonos Server 
After=multi-user.target network-online.target

[Service]
Type=simple
ExecStart=/home/pi/overcast-sonos/venv/bin/python /home/pi/overcast-sonos/overcast-sonos.py
EnvironmentFile=/home/pi/overcast-sonos/overcast-sonos_service.conf
User=pi
Restart=always
RestartSec=300s

[Install]
WantedBy=multi-user.target

